body {
  margin: 0;

  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* font-weight: bolder; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#sprd-main .sprd__caption {
  font-family: Pacifico, Brush Script MT, cursive;
  font-weight: lighter;
}

#sprd-main .sprd__headline {
  font-family: Pacifico, Brush Script MT, cursive;
  font-weight: 500;
}

#sprd-main {
  font-weight: normal;
}
